<!DOCTYPE html>
<html>
  <body>
    <h2>Select Your Interests</h2>
    <form action="/generate" method="post">
      <label><input type="checkbox" name="tags" value="motivation"> Motivation</label><br>
      <label><input type="checkbox" name="tags" value="sports"> Sports</label><br>
      <label><input type="checkbox" name="tags" value="programming"> Programming</label><br>
      <label><input type="checkbox" name="tags" value="music"> Music</label><br>
      <label><input type="checkbox" name="tags" value="art"> Art</label><br>
      <label><input type="checkbox" name="tags" value="travel"> Travel</label><br>
      <br>
      <button type="submit">Generate Quote</button>
    </form>
  </body>
</html>
